<div class="row">
    <div class="container">
        <h1 class="text-center py-3">State Master</h1>
        <div class="container">
            <table class="table table-bordered table-responsive">
                <thead class="" style="background-color: #e3f2fd;">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">State Gov Code</th>
                        <th class="text-center">State Name</th>
                        <th class="text-center">Short Name</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center">1</th>
                        <th class="text-center">TN001</th>
                        <th class="text-left">Tamil Nadu</th>
                        <td class="text-left">TN</td>
                        <td class="text-left">Active</td>
                        <td class="text-left">Test</td>
                    </tr>
                    <tr>
                        <th class="text-center">1</th>
                        <th class="text-center">TN001</th>
                        <th class="text-left">Tamil Nadu</th>
                        <td class="text-left">TN</td>
                        <td class="text-left">Active</td>
                        <td class="text-left">Test</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>